.App {
    text-align: center;
    margin: 10px;
    width: 300px;
    min-height: 100px;
}

.inputContainer {
    display: flex;
}

.inputItem {
    margin: 4px;
}

.TempleteField {
    margin: 4px;
}