.App {
    text-align: center;
    margin: 10px;
    min-height: 100px;
    min-width: 280px;
}

.inputContainer {
    display: flex;
}

.inputItem {
    margin: 4px;
    margin-top: 32px;
    margin-bottom: 16px;
    width: 33%;
}

.TempleteField {
    margin: 4px;
}

.OtherButtonContainer {
    display: flex;
}

.OtherButton {
    width: 50%;
}
